.qaQuestionEntryContainer {
    border-top: 1px solid #aaaaaa;
    padding: 1rem 0;
}
.qaRatingBox, .qaAnswersBox {
    float:right;
    padding: 1rem 1rem;
    width: 9rem;
}

.qaCounterValue{
    font-size: 150%;
    text-align: center;
}

.qaCounterLabel {
    text-align: center;
    font-size: 85%;
}

.qaDateTime {
    float:left;
    font-size: 75%;
}

.qaAnswersBox.answered{
    border: solid 2px green;
}

.qaTagContainer, .qaCategoryContainer{
    float: left;
    margin: 1rem 1rem 1rem 0;
}

.qaCategories {
    display: inline;
    padding-left: 0;
}
.qaCategories li {
    display: inline;
    list-style: none;
    background-color: deepskyblue;
    color: white;
    border-radius: 0.4rem;
    padding: 0.3rem;
}

.qaTags {
    display: inline;
    padding-left: 0;
}

.qaTags li {
    display: inline;
    list-style: none;
    background-color: deepskyblue;
    color: white;
    border-radius: 0.4rem;
    padding: 0.3rem;
}