*/build
questions-and-answers-portlet-service/src/main/java/org/sidate/questions_and_answers/service/util
questions-and-answers-portlet-service/src/main/java/org/sidate/questions_and_answers/service/persistence
questions-and-answers-portlet-service/src/main/java/org/sidate/questions_and_answers/service/http
questions-and-answers-portlet-service/src/main/java/org/sidate/questions_and_answers/service/base
questions-and-answers-portlet-api/src
questions-and-answers-portlet-service/src/main/resources
questions-and-answers-portlet-service/src/main/test
